{% load static %}
{% include 'header.html' %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Category</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Category</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter p-2">
                  <!-- Vertically centered Modal -->
                  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCategory">
                    <i class="bi bi-plus-lg"></i> Add Category
                  </button>
                  <div class="modal fade" id="addCategory" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Category</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <!-- Vertical Form -->
                          <form method="POST" action="add-category" class="row g-3" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-12">
                              <label for="inputNanme4" class="form-label">Name</label>
                              <input type="text" name="name" class="form-control" id="inputNanme4">
                            </div>
                            <div class="col-12">
                              <label for="inputEmail4" class="form-label">Description</label>
                              <textarea class="form-control" name="description" style="height: 100px"></textarea>
                            </div>
                            <div class="col-12">
                              <label for="inputPassword4" class="form-label">Image</label>
                              <input class="form-control" name="image" type="file" id="formFile">
                            </div>
                            
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Submit</button>
                              <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                          </form><!-- Vertical Form -->
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Sure</button> -->
                        </div>
                      </div>
                    </div>
                  </div><!-- End Vertically centered Modal-->
                </div>

                <div class="card-body">
                  <h5 class="card-title">All Categories <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for category in categories %}
                      <tr>
                        <th scope="row"><a href="#">{{category.id}}</a></th>
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                        <td><img style="height: 100px; width: 150px;" class="img-fluid img-responsive" src="{{category.image.url}}"></td>
                        <td>
                          <a class="btn btn-outline-primary" href="view-category/{{category.id}}"><i class="bi bi-eye-fill"></i></a>

                          <!-- Vertically centered Modal -->
                          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#category-{{category.id}}">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                          <div class="modal fade" id="category-{{category.id}}" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Delete</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Are you sure want to delete <b>{{category.name}}</b> ? 
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <a href="delete-category/{{category.id}}" class="btn btn-primary">Sure</a>
                                </div>
                              </div>
                            </div>
                          </div><!-- End Vertically centered Modal-->
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

</main><!-- End #main -->

{% include 'footer.html' %}