
{% load static %}
{% include 'header.html' %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <a href="/order/">
                <div class="card info-card sales-card">

                  <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{orderCount}}</h6>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </a>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <a href="/menu/">
                <div class="card info-card revenue-card">
                
                  <div class="card-body">
                    <h5 class="card-title">Total Menu</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-archive-fill"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{menuCount}}</h6>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </a>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
              <a href="/category/">
                <div class="card info-card customers-card">


                  <div class="card-body">
                    <h5 class="card-title">Total Categories</h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{allCategory}}</h6>
  
                      </div>
                    </div>
  
                  </div>
                </div>
              </a>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#reportsChart"), {
                            series: [
                                {
                                    name: 'Orders',
                                    data: [
                                        {% for entry in data %}
                                            {{ entry.orders }},
                                        {% endfor %}
                                    ],
                                },
                                {
                                    name: 'Menus',
                                    data: [
                                        {% for entry in data %}
                                            {{ entry.menus }},
                                        {% endfor %}
                                    ],
                                },
                                {
                                    name: 'Categories',
                                    data: [
                                        {% for entry in data %}
                                            {{ entry.categories }},
                                        {% endfor %}
                                    ],
                                }
                            ],
                            chart: {
                                height: 350,
                                type: 'area',
                                toolbar: {
                                    show: false
                                },
                            },
                            xaxis: {
                                type: 'datetime',
                                categories: [
                                    {% for entry in data %}
                                        '{{ entry.date }}',
                                    {% endfor %}
                                ],
                            },
                            // Rest of your chart configuration
                        }).render();
                    });
                    </script>
                    

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Order Items</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Total Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in allOrder %}
                      <tr>
                        <th scope="row"><a href="#">{{order.id}}</a></th>
                        <td>{{order.order_id}}</td>
                        <td>
                          {% if order.status == 'pending' %}
                          <button class="btn btn-warning">{{order.status}}</button>
                          {% elif order.status == 'complete' %}
                          <button class="btn btn-success">{{order.status}}</button>
                          {% elif order.status == 'cancelled' %}
                          <button class="btn btn-danger">{{order.status}}</button>
                          {% endif %}
                        </td>
                        <td>
                          <ul>
                              {% for order_item in order.orderitem_set.all %}
                                  <li>
                                      {{ order_item.quantity }} x {{ order_item.menu.name }} - 
                                      RM{{ order_item.total_price }} 
                                  </li>
                              {% endfor %}
                          </ul>
                        </td>
                        <td>{{order.created_at}}</td>
                        <td>RM{{ order.total_price }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for menu in top_selling_menu %}
                      <tr>
                        <th scope="row"><a href="#"><img src="{{menu.image.url}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">{{menu.name}}</a></td>
                        <td>RM{{menu.price}}</td>
                        <td class="fw-bold">{{menu.order_set.count}}</td>
                        <td>RM{{menu.revenue}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

</main><!-- End #main -->

{% include 'footer.html' %}